.show-on-print
  display: none

.nav-tabs > .active > a
  color: white !important

.ship-container > .row-fluid
  padding: 10px 0px

.select2-container

.card-stat
  font-weight: bold
  font-size: 1.25em

.info-data.info-skill
  @extend .card-stat
  color: #CD6D2D

.info-data.info-attack
  @extend .card-stat
  color: #EF232B

.info-data.info-agility
  @extend .card-stat
  color: #6BBE44

.info-data.info-hull
  @extend .card-stat
  color: #F0EC1E

.info-data.info-shields
  @extend .card-stat
  color: #7ED3E5
  padding: 2px

.info-well
  color: black
  margin-top: 10px

.info-well table > tbody > tr > td:first-child
  font-weight: bold
  vertical-align: top

.points-display-container
  font-size: 1.2em
  font-weight: bold
  background-color: rgba(0, 0, 0, 0.5)
  padding-top: 5px

.text-list-modal
  color: black
