.ship-xwing0 {
  background-image: url("images/xwing0.png");
  background-repeat: no-repeat;
  background-position: 200px -65px; }

.ship-xwing1 {
  background-image: url("images/xwing1.jpg");
  background-repeat: no-repeat;
  background-position: 0px -40px; }

.ship-ywing0 {
  background-image: url("images/ywing0.png");
  background-repeat: no-repeat;
  background-position: 0px -20px; }

.ship-awing0 {
  background-image: url("images/awing0.png");
  background-repeat: no-repeat;
  background-position: 250px -60px; }

.ship-tiefighter0 {
  background-image: url("images/tiefighter0.png");
  background-repeat: no-repeat;
  background-position: 50px -80px; }

.ship-tiefighter1 {
  background-image: url("images/tiefighter1.png");
  background-repeat: no-repeat;
  background-position: 200px -60px; }

.ship-tieadvanced0 {
  background-image: url("images/tieadvanced0.png");
  background-repeat: no-repeat;
  background-position: 120px -50px; }

.ship-tieinterceptor0 {
  background-image: url("images/tieinterceptor0.png");
  background-repeat: no-repeat;
  background-position: 200px -70px; }
