!!!
%html
  %head
    %title (Yet Another) X-Wing Miniatures Squad Builder
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}

    %link{:rel => "stylesheet", :href => "chosen-master/chosen/chosen.css"}
    %link{:rel => "stylesheet", :href => "foundation/stylesheets/foundation.min.css"}
    %link{:rel => "stylesheet", :href => "foundation/stylesheets/app.css"}
    %link{:rel => "stylesheet", :href => "main.css"}
    %link{:rel => "stylesheet", :href => "backgrounds.css"}

    %script{:src => "foundation/javascripts/modernizr.foundation.js"}

  %body
    -# body layout

    %p

    %dl.tabs.two-up
      %dd
        %a#rebelTab{:href => '#rebelContent'} Rebel Alliance
      %dd
        %a#empireTab{:href => '#empireContent'} Galactic Empire
    %ul.tabs-content
      %li#rebelContentTab
        #rebel-builder
      %li#empireContentTab
        #empire-builder

    #rebel-pilot-tooltip.info-tooltip
      %table
        %tbody
          %tr.ship
            %th Ship
            %td
          %tr.attack
            %th Attack
            %td
          %tr.agility
            %th Agility
            %td
          %tr.hull
            %th Hull
            %td
          %tr.shields
            %th Shields
            %td
          %tr.actions
            %th Actions
            %td
      %p.flavortext
    #rebel-upgrade-tooltip.info-tooltip
      %table.weapon-stats
        %tbody
          %tr.attack
            %th Attack
            %td
          %tr.range
            %th Range
            %td
      %p.flavortext

    #empire-pilot-tooltip.info-tooltip
      %table
        %tbody
          %tr.ship
            %th Ship
            %td
          %tr.attack
            %th Attack
            %td
          %tr.agility
            %th Agility
            %td
          %tr.hull
            %th Hull
            %td
          %tr.shields
            %th Shields
            %td
          %tr.actions
            %th Actions
            %td
      %p.flavortext
    #empire-upgrade-tooltip.info-tooltip
      %table.weapon-stats
        %tbody
          %tr.attack
            %th Attack
            %td
          %tr.range
            %th Range
            %td
      %p.flavortext

    #rebel-list.reveal-modal
      %p
        Points:
        %span.total
      %dl.text-list
      %a.close-reveal-modal &#215;
    #empire-list.reveal-modal
      %p
        Points:
        %span.total
      %dl.text-list
      %a.close-reveal-modal &#215;

    -# Foundation/JS linkages
    %script{:src => "jquery-1.8.3.min.js"}
    %script{:src => "foundation/javascripts/foundation.min.js"}
    %script{:src => "foundation/javascripts/app.js"}
    %script{:src => "chosen-master/chosen/chosen.jquery.min.js"}
    %script{:src => "cards.js"}
    %script{:src => "main.js"}
    :coffee
      $(document).ready ->
        window.rebel_sb = new window.SquadBuilder
            container: '#rebel-builder'
            faction: 'Rebel Alliance'
            pilot_tooltip: '#rebel-pilot-tooltip'
            upgrade_tooltip: '#rebel-upgrade-tooltip'
            list_modal: '#rebel-list'
        window.empire_sb = new window.SquadBuilder
            container: '#empire-builder'
            faction: 'Galactic Empire'
            pilot_tooltip: '#empire-pilot-tooltip'
            upgrade_tooltip: '#empire-upgrade-tooltip'
            list_modal: '#empire-list'
        switch window.getParameterByName 'f'
          when 'Rebel Alliance'
              $('#rebelTab').click()
          when 'Galactic Empire'
              $('#empireTab').click()
          else
              $('#rebelTab').click()
