!!!
%html
  %head
    %title (Yet Another) X-Wing Miniatures Squad Builder
    %meta{:charset => "utf-8"}

    %link{:rel => "stylesheet", :href => "bootstrap/css/bootstrap.min.css", :media => "screen"}
    %link{:rel => "stylesheet", :href => "select2-release-3.2/select2.css"}

    -#%link{:rel => "stylesheet", :href => "main.css"}
    -#%link{:rel => "stylesheet", :href => "backgrounds.css"}

  %body
    -# body layout

    .tabbable
      %ul.nav.nav-tabs
        %li
          %a#rebelTab{'data-toggle' => "tab", :href => '#rebelContent'} Rebel Alliance
        %li
          %a#empireTab{'data-toggle' => "tab", :href => '#empireContent'} Galactic Empire
      .tab-content
        .tab-pane#rebelContent
          #rebel-builder
        .tab-pane#empireContent
          #empire-builder

    -##rebel-pilot-tooltip.info-tooltip
    -#  %table
    -#    %tbody
    -#      %tr.ship
    -#        %th Ship
    -#        %td
    -#      %tr.skill
    -#        %th Skill
    -#        %td.card-stat
    -#      %tr.attack
    -#        %th Attack
    -#        %td.card-stat
    -#      %tr.agility
    -#        %th Agility
    -#        %td.card-stat
    -#      %tr.hull
    -#        %th Hull
    -#        %td.card-stat
    -#      %tr.shields
    -#        %th Shields
    -#        %td.card-stat
    -#      %tr.actions
    -#        %th Actions
    -#        %td
    -#  %p.flavortext
    -##rebel-upgrade-tooltip.info-tooltip
    -#  %table.weapon-stats
    -#    %tbody
    -#      %tr.attack
    -#        %th Attack
    -#        %td.card-stat
    -#      %tr.range
    -#        %th Range
    -#        %td
    -#  %p.flavortext

    -##empire-pilot-tooltip.info-tooltip
    -#  %table
    -#    %tbody
    -#      %tr.ship
    -#        %th Ship
    -#        %td
    -#      %tr.skill
    -#        %th Skill
    -#        %td.card-stat
    -#      %tr.attack
    -#        %th Attack
    -#        %td.card-stat
    -#      %tr.agility
    -#        %th Agility
    -#        %td.card-stat
    -#      %tr.hull
    -#        %th Hull
    -#        %td.card-stat
    -#      %tr.shields
    -#        %th Shields
    -#        %td.card-stat
    -#      %tr.actions
    -#        %th Actions
    -#        %td
    -#  %p.flavortext
    -##empire-upgrade-tooltip.info-tooltip
    -#  %table.weapon-stats
    -#    %tbody
    -#      %tr.attack
    -#        %th Attack
    -#        %td.card-stat
    -#      %tr.range
    -#        %th Range
    -#        %td
    -#  %p.flavortext

    -# JS linkages
    %script{:src => "jquery-1.8.3.min.js"}
    %script{:src => "bootstrap/js/bootstrap.min.js"}
    %script{:src => "select2-release-3.2/select2.min.js"}
    %script{:src => "cards.js"}
    %script{:src => "xwing.js"}
    :coffee
      $(document).ready ->
        window.rebel_sb = new window.SquadBuilder
            faction: 'Rebel Alliance'
            container: '#rebel-builder'
        window.empire_sb = new window.SquadBuilder
            faction: 'Galactic Empire'
            container: '#empire-builder'
        switch $.getParameterByName 'f'
          when 'Rebel Alliance'
              $('#rebelTab').click()
          when 'Galactic Empire'
              $('#empireTab').click()
          else
              $('#rebelTab').click()
