!!!
%html
  %head
    %title (Yet Another) X-Wing Miniatures Squad Builder
    %meta{:charset => "utf-8"}

    %link{:rel => "stylesheet", :href => "bootstrap/css/bootstrap.min.css", :media => "screen"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %link{:href => "bootstrap/css/bootstrap-responsive.css", :rel =>"stylesheet"}
    %link{:rel => "stylesheet", :href => "select2-release-3.2/select2.css"}

    %link{:rel => "stylesheet", :href => "stylesheets/xwing.css", :media => "screen,handheld"}
    %link{:rel => "stylesheet", :href => "stylesheets/xwing-print.css", :media => "print"}
    %link{:rel => "stylesheet", :href => "stylesheets/backgrounds.css?#{Time.now.to_i}"}

  %body
    -# body layout

    .tabbable.hide-on-print
      %ul.nav.nav-tabs
        %li
          %a#rebelTab{'data-toggle' => "tab", :href => '#rebelContent'} Rebel Alliance
        %li
          %a#empireTab{'data-toggle' => "tab", :href => '#empireContent'} Galactic Empire
      .tab-content
        .tab-pane#rebelContent
          #rebel-builder
        .tab-pane#empireContent
          #empire-builder

    #printable.show-on-print

    -# JS linkages
    %script{:src => "jquery-1.8.3.min.js"}
    %script{:src => "bootstrap/js/bootstrap.min.js"}
    %script{:src => "select2-release-3.2/select2.min.js"}
    %script{:src => "javascripts/cards.js?#{Time.now.to_i}"}
    %script{:src => "javascripts/xwing.js?#{Time.now.to_i}"}
    :coffee
      $(document).ready ->
        window.rebel_sb = new window.SquadBuilder
            faction: 'Rebel Alliance'
            container: '#rebel-builder'
            printable_container: '#printable'
        window.empire_sb = new window.SquadBuilder
            faction: 'Galactic Empire'
            container: '#empire-builder'
            printable_container: '#printable'
        switch $.getParameterByName 'f'
          when 'Rebel Alliance'
              $('#rebelTab').click()
          when 'Galactic Empire'
              $('#empireTab').click()
          else
              $('#rebelTab').click()
