!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width"}

    %link{:rel => "stylesheet", :href => "chosen-master/chosen/chosen.css"}
    %link{:rel => "stylesheet", :href => "foundation/stylesheets/foundation.min.css"}
    %link{:rel => "stylesheet", :href => "foundation/stylesheets/app.css"}

    %script{:src => "foundation/javascripts/modernizr.foundation.js"}
    :sass
      select.pilot
        width: 20em

      select.upgrade
        width: 20em

      abbr
        cursor: pointer

      a.remove.button
        font-size: 1.25em

      div.total-points
        font-size: 2em

      div.info-tooltip
        width: 300px
        float: right
        clear: both
        position: absolute
        display: none
        z-index: 9999
        background-color: lightgray
        border: thin solid black

  %body
    -# body layout

    #rebel-builder
    #rebel-pilot-tooltip.info-tooltip
      %table
        %tbody
          %tr
            %th Ship
            %td.ship
          %tr
            %th Attack
            %td.attack
          %tr
            %th Agility
            %td.agility
          %tr
            %th Hull
            %td.hull
          %tr
            %th Shields
            %td.shields
          %tr
            %th Actions
            %td.actions
      %p.flavortext
    #rebel-upgrade-tooltip.info-tooltip

    #empire-builder
    #empire-pilot-tooltip.info-tooltip
      %table
        %tbody
          %tr
            %th Ship
            %td.ship
          %tr
            %th Attack
            %td.attack
          %tr
            %th Agility
            %td.agility
          %tr
            %th Hull
            %td.hull
          %tr
            %th Shields
            %td.shields
          %tr
            %th Actions
            %td.actions
      %p.flavortext
    #empire-upgrade-tooltip.info-tooltip

    -# Foundation/JS linkages
    %script{:src => "http://code.jquery.com/jquery-1.8.3.min.js"}
    %script{:src => "foundation/javascripts/foundation.min.js"}
    %script{:src => "foundation/javascripts/app.js"}
    %script{:src => "chosen-master/chosen/chosen.jquery.min.js"}
    %script{:src => "cards.js"}
    %script{:src => "main.js"}
    :coffee
      $(document).ready ->
        window.foo = rebel_sb = new window.SquadBuilder
            container: '#rebel-builder'
            faction: 'Rebel Alliance'
            pilot_tooltip: '#rebel-pilot-tooltip'
            upgrade_tooltip: '#rebel-upgrade-tooltip'
        window.bar = empire_sb = new window.SquadBuilder
            container: '#empire-builder'
            faction: 'Galactic Empire'
            pilot_tooltip: '#empire-pilot-tooltip'
            upgrade_tooltip: '#empire-upgrade-tooltip'
