.ship-xwing0 {
  background-image: url("../images/xwing1.jpg");
  background-repeat: no-repeat;
  background-position: 0px -40px; }

.ship-xwing1 {
  background-image: url("../images/xwing0.png");
  background-repeat: no-repeat;
  background-position: 200px -65px; }

.ship-ywing0 {
  background-image: url("../images/ywing1.png");
  background-repeat: no-repeat;
  background-position: 0px -20px; }

.ship-awing0 {
  background-image: url("../images/awing0.png");
  background-repeat: no-repeat;
  background-position: 147px -60px; }

.ship-tiefighter0 {
  background-image: url("../images/tiefighter0.png");
  background-repeat: no-repeat;
  background-position: 35px -80px; }

.ship-tiefighter1 {
  background-image: url("../images/tiefighter1.png");
  background-repeat: no-repeat;
  background-position: 350px -60px; }

.ship-tieadvanced0 {
  background-image: url("../images/tieadvanced0.png");
  background-repeat: no-repeat;
  background-position: 120px -50px; }

.ship-tieinterceptor0 {
  background-image: url("../images/tieinterceptor0.png");
  background-repeat: no-repeat;
  background-position: 194px -70px; }

.ship-yt13000 {
  background-image: url("../images/millennium_falcon.png");
  background-repeat: no-repeat;
  background-position: 0px -45px; }

.ship-firespray310 {
  background-image: url("../images/slave_i1.png");
  background-repeat: no-repeat;
  background-position: 0px -80px; }

.ship-bwing0 {
  background-image: url("../images/bwing.png");
  background-repeat: no-repeat;
  background-position: 10px -31px; }

.ship-tiebomber0 {
  background-image: url("../images/tie_bomber.png");
  background-repeat: no-repeat;
  background-position: -32px -27px; }

.ship-lambdaclassshuttle0 {
  background-image: url("../images/lambda_shuttle.png");
  background-repeat: no-repeat;
  background-position: -5px -65px; }

.ship-cr90corvettefore0 {
  background-image: url("../images/cr90_corvette_fore.png");
  background-repeat: no-repeat;
  background-position: 0px 0px; }

.ship-cr90corvetteaft0 {
  background-image: url("../images/cr90_corvette_aft.png");
  background-repeat: no-repeat;
  background-position: 0px -12px; }

.ship-gr75mediumtransport0 {
  background-image: url("../images/gr_75_medium_transport.png");
  background-repeat: no-repeat;
  background-position: 0px -30px; }
