@page {
  size: 8.5in 11in;
  margin: 0.5in; }

body {
  -webkit-print-color-adjust: exact;
  background-color: transparent !important;
  zoom: 75%; }

.modal-backdrop {
  display: none; }

#printable {
  overflow: hidden; }
  #printable .bw .info-data {
    color: black; }
  #printable .bw .fancy-pilot-stats .info-data {
    color: white; }
  #printable .bw .fancy-pilot-stats .xwing-miniatures-font {
    color: black; }
  #printable .bw i.xwing-miniatures-font-attack, #printable .bw i.xwing-miniatures-font-energy, #printable .bw i.xwing-miniatures-font-agility, #printable .bw i.xwing-miniatures-font-hull, #printable .bw i.xwing-miniatures-font-shield, #printable .bw i.xwing-miniatures-font-attack-turret, #printable .bw i.xwing-miniatures-font-attack-frontback, #printable .bw i.xwing-miniatures-font-attack-180 {
    background: white; }
  #printable .bw .upgrade-attack .xwing-miniatures-font-attack {
    background: black;
    color: white; }
  #printable .info-data {
    vertical-align: middle;
    -webkit-text-stroke: 0.5px black;
    font-size: 0.225in !important;
    position: relative; }
  #printable .fancy-header {
    border: 0.375in solid black;
    color: white;
    border-left-color: transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    font-family: EurostileStandard, Impact, sans-serif; }
    #printable .fancy-header .squad-name {
      position: absolute;
      font-size: 0.3in;
      margin-top: 0.075in;
      font-weight: 100; }
    #printable .fancy-header .squad-faction {
      position: absolute;
      margin-top: 0.075in;
      right: 0.984375in;
      font-weight: 100; }
      #printable .fancy-header .squad-faction .xwing-miniatures-font {
        color: white;
        font-size: 0.3in; }
    #printable .fancy-header .mask {
      position: absolute;
      right: 0;
      width: 0.5625in;
      background-color: white;
      height: 0.5625in;
      z-index: 999; }
    #printable .fancy-header .outer-circle {
      width: 0.5625in;
      height: 0.5625in;
      border-radius: 0.28125in;
      margin-left: -0.28125in;
      background-color: white; }
      #printable .fancy-header .outer-circle .inner-circle {
        width: 0.5in;
        height: 0.5in;
        border-radius: 0.25in;
        background-color: gray;
        position: relative;
        top: 0.03125in;
        left: 0.03125in;
        line-height: 0.5in;
        font-size: 0.1875in;
        text-align: center; }
  #printable .fancy-under-header {
    border: 0.1875in solid gray;
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    position: relative;
    left: 0.375in; }
  #printable .tall {
    min-height: 2.5in; }
  #printable .fancy-ship {
    overflow: hidden;
    margin-bottom: 10px;
    page-break-inside: avoid;
    position: relative; }
    #printable .fancy-ship .fancy-pilot-header {
      border: 0.3in solid lightgray;
      color: black;
      border-left-color: transparent;
      border-bottom-color: transparent;
      border-right-color: transparent;
      font-family: EurostileStandard, Impact, sans-serif;
      height: 0px; }
      #printable .fancy-ship .fancy-pilot-header .pilot-header-text {
        position: absolute;
        font-size: 0.24in;
        margin-top: -0.24in;
        font-weight: 100; }
      #printable .fancy-ship .fancy-pilot-header .mask {
        position: relative;
        float: right;
        clear: both;
        right: -0.45in;
        top: -0.3in;
        width: 0.45in;
        background-color: white;
        height: 0.6in;
        z-index: 999; }
      #printable .fancy-ship .fancy-pilot-header .outer-circle {
        width: 0.45in;
        height: 0.45in;
        border-radius: 0.225in;
        margin-left: -0.225in;
        background-color: white; }
        #printable .fancy-ship .fancy-pilot-header .outer-circle .inner-circle {
          width: 0.3875in;
          height: 0.3875in;
          border-radius: 0.19375in;
          background-color: gray;
          position: relative;
          top: 0.03125in;
          left: 0.03125in;
          line-height: 0.41875in;
          font-size: 0.15in;
          text-align: center;
          color: white; }
    #printable .fancy-ship .fancy-pilot-stats {
      position: relative;
      left: 0.3in;
      top: -0.3in;
      border: 0.3in solid gray;
      border-left-color: transparent;
      border-bottom-color: transparent;
      border-right-color: transparent;
      margin-bottom: -0.6in; }
      #printable .fancy-ship .fancy-pilot-stats .pilot-stats-content {
        position: relative;
        margin-top: -0.2in; }
        #printable .fancy-ship .fancy-pilot-stats .pilot-stats-content .xwing-miniatures-font {
          vertical-align: middle; }
      #printable .fancy-ship .fancy-pilot-stats .info-data, #printable .fancy-ship .fancy-pilot-stats .xwing-miniatures-font {
        position: relative;
        bottom: 0.048in; }
    #printable .fancy-ship .fancy-pilot-text {
      margin-left: 0.6in;
      padding: 5px;
      color: black; }
    #printable .fancy-ship .fancy-upgrade-container {
      color: black;
      position: relative; }
      #printable .fancy-ship .fancy-upgrade-container .upgrade-container {
        position: relative;
        margin-bottom: 0.04in;
        margin-left: 0.75in;
        margin-right: 0.365in;
        border: 1px dotted lightgray;
        clear: both; }
        #printable .fancy-ship .fancy-upgrade-container .upgrade-container .upgrade-stats {
          min-height: 0.38in; }
        #printable .fancy-ship .fancy-upgrade-container .upgrade-container .card-restriction-container {
          padding-top: 0.10in; }
        #printable .fancy-ship .fancy-upgrade-container .upgrade-container .mask {
          float: right;
          text-align: right;
          display: inline-block;
          vertical-align: middle;
          width: 0.3375in;
          height: 0.3375in;
          z-index: 999;
          margin-right: 0.04in; }
        #printable .fancy-ship .fancy-upgrade-container .upgrade-container .outer-circle {
          width: 0.3375in;
          height: 0.3375in;
          border-radius: 0.16875in;
          background-color: white; }
          #printable .fancy-ship .fancy-upgrade-container .upgrade-container .outer-circle .inner-circle {
            width: 0.275in;
            height: 0.275in;
            border-radius: 0.1375in;
            background-color: gray;
            position: relative;
            top: 0.03125in;
            left: 0.03125in;
            line-height: 0.3375in;
            font-size: 0.15in;
            text-align: center;
            color: white; }
        #printable .fancy-ship .fancy-upgrade-container .upgrade-container .upgrade-name {
          display: inline-block;
          vertical-align: middle;
          line-height: 0.3375in;
          float: left;
          text-align: left;
          margin-left: 0.10in;
          margin-right: 0.05in;
          min-width: 1.50in;
          font-family: EurostileStandardBold; }
          #printable .fancy-ship .fancy-upgrade-container .upgrade-container .upgrade-name i {
            display: inline-block;
            min-width: 0.27in; }
        #printable .fancy-ship .fancy-upgrade-container .upgrade-container .upgrade-attack {
          float: right;
          text-align: right;
          margin-right: 0.07in;
          margin-top: 0.02in;
          height: 0.28in; }
          #printable .fancy-ship .fancy-upgrade-container .upgrade-container .upgrade-attack .upgrade-attack-range {
            vertical-align: middle;
            padding: 2px 8px;
            color: white;
            background-color: black;
            font-family: kimberley;
            font-size: 1.2em; }
          #printable .fancy-ship .fancy-upgrade-container .upgrade-container .upgrade-attack .xwing-miniatures-font-attack, #printable .fancy-ship .fancy-upgrade-container .upgrade-container .upgrade-attack .xwing-miniatures-font-attack-turret, #printable .fancy-ship .fancy-upgrade-container .upgrade-container .upgrade-attack .xwing-miniatures-font-attack-frontback, #printable .fancy-ship .fancy-upgrade-container .upgrade-container .upgrade-attack .xwing-miniatures-font-attack-180 {
            vertical-align: middle; }
          #printable .fancy-ship .fancy-upgrade-container .upgrade-container .upgrade-attack .info-attack {
            margin-right: 0.02in; }
        #printable .fancy-ship .fancy-upgrade-container .upgrade-container .upgrade-text {
          padding-right: 0.3375in;
          padding-left: 0.27in;
          margin-left: 0.10in; }
    #printable .fancy-ship .ship-points-total {
      color: black;
      text-align: right;
      margin-bottom: 0.04in;
      margin-left: 0.75in;
      margin-right: 0.365in;
      clear: both; }
  #printable .printable-footer {
    position: fixed;
    bottom: 0;
    color: black;
    width: 8.5in;
    text-align: right;
    display: none; }
  #printable .simple-table {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1.25em;
    color: black;
    width: 95%;
    font-size: 1.5em; }
    #printable .simple-table tr {
      height: 1.25em; }
    #printable .simple-table .name {
      font-style: oblique; }
    #printable .simple-table .points {
      text-align: right; }
    #printable .simple-table .simple-pilot .name {
      font-weight: bold; }
    #printable .simple-table .simple-addon .name {
      padding-left: 20px; }
    #printable .simple-table .simple-ship-total {
      font-weight: bold;
      text-align: right; }
  #printable .print-notes {
    color: black; }
  #printable .juggler-qrcode-container {
    color: black;
    width: 6in;
    margin-left: auto;
    margin-right: auto;
    page-break-inside: avoid;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
  #printable .juggler-qrcode-container:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%; }
  #printable .juggler-qrcode-container > div {
    display: inline-block;
    vertical-align: middle; }
  #printable .juggler-qrcode-text {
    width: 4.25in; }
  #printable .juggler-qrcode {
    width: 144px;
    margin-left: auto;
    margin-right: auto; }
  #printable .obstacles {
    color: black;
    page-break-inside: avoid; }
  #printable .obstacles > div {
    width: 6in;
    text-align: center;
    margin-left: auto;
    margin-right: auto; }
