@font-face {
  font-family: kimberley;
  src: url("../fonts/kimberley bl.ttf"); }

@font-face {
  font-family: EurostileStandard;
  src: url("../fonts/EurostileLTStd.otf"); }

@font-face {
  font-family: EurostileStandardBold;
  src: url("../fonts/EurostileLTStd-Bold.otf"); }

@font-face {
  font-family: EurostileStandardOblique;
  src: url("../fonts/EurostileLTStd-Oblique.otf"); }

@font-face {
  font-family: EurostileStandardBoldOblique;
  src: url("../fonts/EurostileLTStd-BoldOblique.otf"); }

@font-face {
  font-family: BankGothicMediumBT;
  src: url("../fonts/Bank Gothic Medium BT.ttf"); }

@font-face {
  font-family: BankGothicHD;
  src: url("../fonts/bankgthd.ttf"); }

body, button {
  font-family: EurostileStandard; }

strong {
  font-family: EurostileStandardBold;
  font-weight: normal; }

em {
  font-family: EurostileStandardOblique;
  font-style: normal; }

strong em, em strong {
  font-family: EurostileStandardBoldOblique;
  font-style: normal;
  font-weight: normal; }

.nav-pills {
  border-bottom: thin solid darkgrey; }

.ship-container > .row-fluid {
  padding: 10px 0px; }

.ship {
  border: medium solid black; }

.card-stat, .info-data.info-skill, .info-data.info-attack, .info-data.info-energy, .info-data.info-agility, .info-data.info-hull, .info-data.info-shields {
  font-family: kimberley;
  font-size: 1.5em; }

.info-data.info-skill {
  color: #cd6d2d; }

.info-data.info-attack {
  color: #ef232b; }

.info-data.info-energy {
  color: #c7b5e2; }

.info-data.info-agility {
  color: #6bbe44; }

.info-data.info-hull {
  color: #b6b335; }

.info-data.info-shields {
  color: #7ed3e5;
  padding: 2px; }

.info-name {
  font-family: BankGothicHD;
  font-size: 1.5em; }

.info-type, .info-sources {
  font-family: BankGothicHD;
  font-size: 1.2em; }

.info-well {
  color: black;
  margin-top: 10px; }

.info-well table > tbody > tr > td:first-child {
  font-weight: bold;
  vertical-align: top;
  padding-right: 5px; }

.info-text {
  margin-top: 15px; }

.squad-name-container {
  padding-top: 5px;
  font-size: 1.2em; }

.display-name {
  cursor: pointer; }

ul.squad-list {
  list-style-type: none;
  padding: 0;
  margin: 0; }

.points-display-container {
  font-size: 1.2em;
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 5px;
  text-align: center; }

.points-display-container span {
  padding: 5px 0px; }

.modal {
  color: black; }

.icon, img.icon-straight, img.icon-bankleft, img.icon-bankright, img.icon-turnleft, img.icon-turnright, img.icon-uturn, img.icon-focus, img.icon-evade, img.icon-barrel-roll, img.icon-target-lock, img.icon-hit, img.icon-crit, img.icon-turret, img.icon-elite, img.icon-missile, img.icon-torpedo, img.icon-astromech, img.icon-cloak, img.icon-attack, img.icon-energy, img.icon-agility, img.icon-hull, img.icon-shields, img.icon-boost, img.icon-crew, img.icon-cannon, img.icon-cargo, img.icon-coordinate, img.icon-jam, img.icon-recover, img.icon-reinforce {
  background-image: url("../images/xwing-icons.png");
  background-repeat: no-repeat; }

img.icon-straight {
  width: 9px;
  height: 19px;
  background-position: 0px -4px;
  margin-top: -2px; }

img.icon-bankleft {
  width: 12px;
  height: 19px;
  background-position: -11px -4px;
  margin-top: -1px; }

img.icon-bankright {
  width: 10px;
  height: 18px;
  background-position: -25px -4px;
  margin-top: -1px; }

img.icon-turnleft {
  width: 16px;
  height: 19px;
  background-position: -38px -4px;
  margin-top: -3px; }

img.icon-turnright {
  width: 17px;
  height: 19px;
  background-position: -55px -4px;
  margin-top: -3px; }

img.icon-uturn {
  width: 17px;
  height: 19px;
  background-position: -73px -4px; }

img.icon-focus {
  width: 27px;
  height: 13px;
  background-position: -93px -10px; }

img.icon-evade {
  width: 16px;
  height: 22px;
  background-position: -121px -4px;
  margin-top: -4px; }

img.icon-barrel-roll {
  width: 37px;
  height: 22px;
  background-position: -138px -4px;
  margin-top: -2px; }

img.icon-target-lock {
  width: 28px;
  height: 23px;
  background-position: -174px -3px; }

img.icon-hit {
  width: 21px;
  height: 22px;
  background-position: -203px -4px;
  margin-top: -2px; }

img.icon-crit {
  width: 28px;
  height: 29px;
  background-position: -225px -1px;
  margin-top: -5px; }

img.icon-turret {
  width: 33px;
  height: 33px;
  background-position: -2px -31px; }

img.icon-elite {
  width: 33px;
  height: 33px;
  background-position: -44px -31px;
  margin-top: -10px; }

img.icon-missile {
  width: 33px;
  height: 33px;
  background-position: -83px -31px;
  margin-top: -10px; }

img.icon-torpedo {
  width: 33px;
  height: 33px;
  background-position: -123px -31px;
  margin-top: -10px; }

img.icon-astromech {
  width: 33px;
  height: 33px;
  background-position: -163px -31px;
  margin-top: -10px; }

img.icon-cloak {
  width: 26px;
  height: 25px;
  background-position: -186px -68px; }

img.icon-attack {
  width: 32px;
  height: 30px;
  background-position: -200px -32px; }

img.icon-energy {
  width: 32px;
  height: 30px;
  background-position: -154px -66px; }

img.icon-agility {
  width: 32px;
  height: 30px;
  background-position: -254px 0px; }

img.icon-hull {
  width: 32px;
  height: 30px;
  background-position: -234px -32px; }

img.icon-shields {
  width: 32px;
  height: 30px;
  background-position: -266px -32px; }

img.icon-boost {
  width: 30px;
  height: 29px;
  background-position: -287px 0px; }

img.icon-crew {
  width: 35px;
  height: 34px;
  background-position: -325px 0px; }

img.icon-cannon {
  width: 34px;
  height: 33px;
  background-position: -298px -30px; }

img.icon-cargo {
  width: 35px;
  height: 33px;
  background-position: -119px -64px; }

img.icon-coordinate {
  width: 25px;
  height: 29px;
  background-position: -3px -64px; }

img.icon-jam {
  width: 34px;
  height: 26px;
  background-position: -28px -64px; }

img.icon-recover {
  width: 26px;
  height: 28px;
  background-position: -63px -64px; }

img.icon-reinforce {
  width: 24px;
  height: 27px;
  background-position: -93px -64px; }

div.tab-content {
  overflow: visible; }

.squad-list > li:hover {
  background-color: #cccccc; }

select.card-selector {
  width: 100%; }

.fancy-list .info-data {
  position: relative;
  top: -5px; }

.simple-list {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.25em; }
  .simple-list table {
    width: 100%; }
  .simple-list .name {
    font-style: oblique; }
  .simple-list .points {
    text-align: right; }
  .simple-list .simple-pilot .name {
    font-weight: bold; }
  .simple-list .simple-addon .name {
    padding-left: 20px; }

ul.nav li.dropdown ul.dropdown-menu li {
  color: #333333;
  padding: 1px 5px;
  cursor: pointer; }
ul.nav li.dropdown ul.dropdown-menu li:hover {
  color: white;
  background-color: #333333; }

input[type=number] {
  width: 3em; }

.red {
  color: red; }
